.center {
    width: 600px;
    height: 600px;
    margin: auto;
    background-color: black;
}

.board {
    display: inline-grid;
    gap: 10px 10px;
    font-size: 0cm;
}

.square {
    width: 195px;
    height: 195px;
    background-color: cornflowerblue;
    font-size: 0cm;
}

.body{
    background-color: cornflowerblue;
}